* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.flex-conteiner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #262626;
}

.teclado {
  height: 200px;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.brancas {
  height: 100%;
  display: flex;
}

.tecla-branca {
  width: 100px;
  height: 100%;

  border: 1px solid #333;

  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #424242;
  cursor: pointer;
  background-color: #ffffff;
  user-select: none;
}

.tecla-branca:hover {
  background-color: lightgrey !important;
}

.tecla-branca.active {
  background-color: grey;
}

.pretas {
  height: 50%;
  display: flex;
}

.tecla-preta {
  width: 70px;
  height: 100%;

  background-color: #333;
  color: #979797;
  padding-bottom: 5px;

  position: relative;
  top: -200px;

  display: flex;
  justify-content: center;
  align-items: flex-end;

  cursor: pointer;
  user-select: none;
}

.tecla-preta:hover {
  background-color: black !important;
}

.tecla-preta.active {
  background-color: black;
}

.tecla-preta:nth-child(1) {
  margin-left: 65px;
}
.tecla-preta:nth-child(2) {
  margin-left: 30px;
}
.tecla-preta:nth-child(3) {
  margin-left: 130px;
}
.tecla-preta:nth-child(4) {
  margin-left: 30px;
}
.tecla-preta:nth-child(5) {
  margin-left: 30px;
}

@media (max-width: 730px) {
  .tecla-branca {
    width: 80px;
  }
  .tecla-preta {
    width: 56px;
  }
  .tecla-preta:nth-child(1) {
    margin-left: 52px;
  }
  .tecla-preta:nth-child(2) {
    margin-left: 24px;
  }
  .tecla-preta:nth-child(3) {
    margin-left: 104px;
  }
  .tecla-preta:nth-child(4) {
    margin-left: 24px;
  }
  .tecla-preta:nth-child(5) {
    margin-left: 24px;
  }
}

@media (max-width: 600px) {
  .tecla-branca {
    width: 60px;
  }
  .tecla-preta {
    width: 42px;
  }
  .tecla-preta:nth-child(1) {
    margin-left: 39px;
  }
  .tecla-preta:nth-child(2) {
    margin-left: 18px;
  }
  .tecla-preta:nth-child(3) {
    margin-left: 78px;
  }
  .tecla-preta:nth-child(4) {
    margin-left: 18px;
  }
  .tecla-preta:nth-child(5) {
    margin-left: 18px;
  }
}

@media (max-width: 450px) {
  .teclado {
    height: 150px;
  }
  .tecla-branca {
    width: 45px;
  }
  .tecla-preta {
    width: 31.5px;
    top: -150px;
  }
  .tecla-preta:nth-child(1) {
    margin-left: 29.25px;
  }
  .tecla-preta:nth-child(2) {
    margin-left: 15.75px;
  }
  .tecla-preta:nth-child(3) {
    margin-left: 60.75px;
  }
  .tecla-preta:nth-child(4) {
    margin-left: 15.75px;
  }
  .tecla-preta:nth-child(5) {
    margin-left: 15.75px;
  }
}

@media (max-width: 350px) {
  .tecla-branca {
    width: 35px;
  }
  .tecla-preta {
    width: 24.5px;
  }
  .tecla-preta:nth-child(1) {
    margin-left: 22.75px;
  }
  .tecla-preta:nth-child(2) {
    margin-left: 10.5px;
  }
  .tecla-preta:nth-child(3) {
    margin-left: 45.5px;
  }
  .tecla-preta:nth-child(4) {
    margin-left: 10.5px;
  }
  .tecla-preta:nth-child(5) {
    margin-left: 10.5px;
  }
}

footer {
  position: fixed;
  bottom: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #cecece;
  text-decoration: none;
}

footer img {
  height: 3em;
  margin-right: 10px;
  user-select: none;
}
